<h1><%=@surgery.title%>'s Information Page</h1>
<h2>Day Of The Week: <%=@surgery.day_of_week%></h2>
<h2>Operating Room Number: <%=@surgery.operating_room_number%></h2>
<br/>
<h1>Doctors Preforming <%=@surgery.title%>: </h1>
<%@surgery.doctors.each do |doctor|%>
  <h2>Doctor Name: <%=doctor.name%>, Years Experience: <%=doctor.years_practiced%></h2>
<%end%>
<br/>
<section id="most_experienced">
<h2>Most Experienced: </h2>
  <%@surgery.most_experienced.each do |doctor|%>
    <h2>Doctor Name: <%=doctor.name%>, Years Experience: <%=doctor.years_practiced%></h2>
  <%end%>
</section>
<section id="least_experienced">
<h2>Least Experienced: </h2>
  <%@surgery.least_experienced.each do |doctor|%>
    <h2>Doctor Name: <%=doctor.name%>, Years Experience: <%=doctor.years_practiced%></h2>
  <%end%>
</section>
<br/>
<h1>Add A Doctor To This Surgery</h1>
<h3>Instructions: Fill in the doctor name and click submit.</h3>
  <%=form_with url: "/surgeries/#{@surgery.id}/doctors", method: :post do |form|%>
  <%=form.label :name%>
  <%=form.text_field :name%>
  <%=form.submit "Submit"%>
<%end%>
